.loginScreenInput
{
	float: left;
}

.charCategory
{
	margin: 5px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	font-size: 20px;
	background-color: silver;
}

.charField
{
	margin: 3px;
	padding: 3px;
	border: 1px solid black;
	font-size: 12px;
	background-color: gray;
}

.inventoryItem
{
	float: left;
	width: auto;
	background-color: silver;
	padding-top: 5px;
	margin: 5px;
	border: 1px solid black;
}

.inventory
{
	float: left;
	width: 90%;
	height: auto;
}

.inventoryItemField
{
	background-color: gray;
	margin: 3px;
	/*overflow-y: scroll;*/
	height: auto;
	width: calc(100% - 6px);
}

.inventoryItemNameLabel
{
	background-color: #9999FF;
	font-weight: bold;
}

.inventoryItemContents
{
	background-color: gray;
	width: auto;
	height: auto;
	padding: 3px;
	/*overflow-y: scroll;*/
	overflow: auto;
	margin: 5px;
}