.loginScreenInput
{
	float: left;
}

.inventoryItem
{
	float: left;
	width: 300px;
	max-height: 1000px;
	background-color: silver;
	padding-top: 5px;
	margin-top: 10px;
	border: 1px solid black;
}

.inventory
{
	float: left;
	width: 90%;
	height: 600px;
	max-height: 600px;
}

.inventoryItemField
{
	background-color: gray;
	margin: 3px;
	overflow-y: scroll;
	max-height: 100px;
}

.inventoryItemContents
{
	background-color: gray;
	width: auto;
	height: 50%;
	overflow-y: scroll;
	margin: 3px;
}